  .st0{fill:#F7FCFE;}
  .st1{fill:#FFFFFF;}
  .st2{opacity:0.39;fill:#747B8D;}
  .st3{fill:#ECF5FC;}
  .st4{fill:url(#pattern1);}
  .st5{opacity:0.44;fill:none;stroke:url(#SVGID_1_);stroke-width:0.5587;stroke-miterlimit:10;}
  .st6{fill:#2E2F32;}
  .st7{fill:#41434A;}
  .st8{fill:url(#SVGID_2_);}
  .st9{fill:#686B76;}
  .st10{fill:none;stroke:#FFFFFF;stroke-width:0.1146;stroke-miterlimit:10;}
  .st11{fill:#5F6371;}
  .st12{fill:#767A89;}
  .st13{opacity:0.15;}
  .st14{fill:url(#SVGID_3_);}
  .st15{fill:#F4F4F4;}
  .st16{opacity:0.34;fill:#FFFFFF;}
  .st17{opacity:0.4;fill:#F5F7FC;}
  .st18{fill:#C4CBD3;}
  .st19{opacity:0.58;}
  .st20{fill:#F6FCFE;}
  .st21{opacity:0.67;fill:#ECF5FC;}
  .st22{font-family:'Lato-Regular';}
  .st23{font-size:3.8091px;}