.container {
  display: grid;
  grid-template-rows: 85vh repeat(2, min-content) 80vh;
  grid-template-columns: [full-start] minmax(4rem, 1fr) [center-start] repeat(6, minmax(min-content, 18rem) [col-end]) [center-end] minmax(4rem, 1fr) [full-end];
  grid-row-gap: 10rem;

  @include responsive(phone) {
    grid-template-rows: 80vh repeat(2, min-content) 70vh;
    grid-row-gap: 8rem;
  }

}